*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(109, 109, 103);
    text-align: center;
}
.game{
    text-align: center;
     height: 70vh;
    /* width: 65vh; */ 
    font-weight: 600;
}
.box{
    background-color: rgb(161, 161, 125); 
    margin: 20px 680px;
    height: 60vmin;
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 7px;
}
.bx1{
    background-color:beige ;
    height: 17vmin;

    width: 195px ;
    color: rgb(239, 14, 14);
   border-radius: 47px;
   font-weight: bold;
   font-size: 80px;

}
.reset button{
    background-color: black;
    color: white;
    padding: 1.22rem;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}
.main{
    margin: 20px;
    font-size: 50px;
    color: white;
    
}
.hide{
    display: none;
}
.main button{
    background-color: black;
    color: white;
    padding: 1.15rem;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}
